apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ deployment_name }}
  namespace: {{ challenge_namespace }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ deployment_name }}
  template:
    metadata:
      labels:
        app: {{ deployment_name }}
    spec:
      containers:
      - name: {{ deployment_name }}
        image: {{ container_name }}
        imagePullPolicy: Always
        ports:
        - containerPort: {{ challenge_port }}
          name: chal-port
      imagePullSecrets:
      - name: {{ pull_secret }}

---
apiVersion: v1
kind: Service
metadata:
  name: {{ deployment_name }}-service
  namespace: {{ challenge_namespace }}
spec:
  selector:
    app: {{ deployment_name }}
  ports:
    - port: {{ challenge_port }}
      targetPort: {{ challenge_port }}
      protocol: TCP

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ deployment_name }}-ingress
  namespace: {{ challenge_namespace }}
  annotations:
    kubernetes.io/ingress.class: nginx
spec:
  rules:
  - host: {{ deployment_name }}.{{ https_domain_name | replace('https://','') }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ deployment_name }}-service
            port:
              number: {{ challenge_port }}
