# This template is not needed since we're using the existing external registry
# registry.psuccso.org with credentials robot$rancher:g1TqDg5SqhTuDCVn7N8uIKsS64xpPQ2z
# The registry authentication is handled by the docker-registry secret in ctfd-challenges namespace
